

<EditForm Model="_categoryModel">
    <DataAnnotationsValidator />
    <div class="card ">
        <h4> Category</h4>
    </div>
    <div class="card-body"></div>
    <div class="card-footer">
        <button type="button" class="btn btn-sm btn-default">Cancel</button>
        <button type="submit" class="btn btn-sm btn-primary">Save</button>
    </div>
</EditForm>


@code {

    private Category _categoryModel = new();

    
}